<!DOCTYPE html>
<html>
<head>
    <title>Horarios a calendario</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static',filename='./images/favicon.jpg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./css/botones.css') }}">
</head>
<body>
    <div class="botones">
        <div class="botones-container">
            {% for materia, link in botones %}
                    <p>{{materia}}</p>
                    <a href="{{ link }}" target="_blank">
                        <button type="button">Agregar a calendario</button>
                    </a>
            {% endfor %}
            <a href="{{ url_for('index') }}">
              <button type="button" class="botones" >Volver a menu inicial</button>
            </a>
        </div>
    </div>
</body>
</html>
