/* ====== ESTILO GENERAL ====== */

body {
    margin: 0;
    padding: 0;
    background: url("../images/bg_texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Segoe UI", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* ====== CONTENEDOR PRINCIPAL ====== */

.botones {
    margin-top: 50px;
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    width: 90%;
    max-width: 500px;
}

.botones-container {
    width: 100%;
}

/* ====== TEXTO DE LA MATERIA ====== */

.botones-container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    margin-top: 25px;
}

/* ====== BOTÓN AGREGAR A CALENDARIO ====== */

.botones-container a {
    text-decoration: none;
}

.botones-container button {
    width: 100%;
    background-color: #bb0a1e;
    color: white;
    padding: 14px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    min-height: 80px;
    transition: background 0.2s ease-in-out;
}

.botones-container button:hover {
    background-color: #8a0816;
}

.main-footer {
    background-color: #222; /* Color oscuro como la foto */
    color: #fff;
    padding: 30px 0;
    width: 100%;
    margin-top: auto; /* Se mantiene abajo */
}

.footer-container {
    /* max-width: 1000px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.logo-white {
    filter: brightness(0) invert(1); /* Mantiene el logo blanco por defecto */
    height: 40px;
    transition: filter 0.3s ease; /* Hace que el cambio de color sea suave */
    cursor: pointer;
}

.logo-white:hover {
    /* Este filtro genera el color #bb0a1e partiendo del blanco */
    filter: invert(12%) sepia(95%) saturate(5451%) hue-rotate(353deg) brightness(81%) contrast(92%);
}

.footer-logo p {
    font-size: 12px;
    margin: 5px 0 0 0;
    line-height: 1.2;
}

.footer-info p {
    font-size: 13px;
    margin: 2px 0;
    color: #ccc;
    align-self: center;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.social-icon {
    width: 35px;
    height: 35px;
    background: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.3s;
}

.social-icon:hover {
    background: #bb0a1e; /* Rojo al pasar el mouse */
}